[user]
	email = 71601628+tristanlukens@users.noreply.github.com
	name = tristanlukens
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false
[init]
	defaultBranch = main
